
.res_table{
  width:90%;
  padding-left:10%;
  font-weight:100;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  text-align:left;
}

.res_header{
  font-family: 'Montserrat', sans-serif;
  padding-left:10%;
  padding-top:2%;
  font-weight:200;
  font-size:22pt;
}

.leftcol{
  width: 20%;
}

.rightcol{
  width:80%;
}

.col_ralign{
  text-align:right;
}

ul{
  list-style:none;
  list-style-position:outside;
  padding: 5px 5px 5px 5px;
}

ul li{
  margin: 1em 0;
}
