:root{--blue1: rgb(50 120 200);
      --blue2: rgb(50 82 127);
      --pink1: rgb(206 34 109);
      --pink2: rgb(255 215 200);
  }

  .bodytxt{
    font-weight:100;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
  }

  .h1{
    font-weight:100;
    color: var(--blue2);
    font-family: 'Montserrat', sans-serif;
    font-size: 34pt;
    text-align: center;
    padding: 20px 20px 20px 20px;
  }

  .h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    text-align: center;
    font-weight:100;
    color: var(--blue1);
  }

  .h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    text-align: center;
    font-weight:400;
    color: var(--blue1);
    padding: 5px 5px 5px 5px;
  }

  .h1:link, .h2:link, .h3:link{
    color: var(--blue1);
    text-decoration:none;
  }

  .h1:visited, .h2:visited, .h3:visited{
    color: var(--blue1);
    text-decoration:none;
  }


  .h1:hover, .h2:hover, .h3:hover{
    color: var(--pink2);
    cursor:crosshair;
    text-decoration:none;

  }

  .h1:active, .h2:active, .h3:active{
    color: var(--pink1);
    text-decoration:none;
  }


  .container{
    display: flex;
    width:90%;
    padding-left:5%;
    text-align:center;

  }

  .container.space{
    justify-content: space-evenly;
    flex-direction:row;
  }

  .container.stick{
    background-color:white;
    justify-content: space-evenly;
    flex-direction:row;
    position: -webkit-sticky;
    position:sticky;
    top:0;

  }

  #imgtab{
    width:90%;
    padding-left:10%;
    font-weight:100;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    text-align:center;
  }

  #imgtab img{
    display:block;
    width:100%;
    height:auto;
  }

  .secretimg{
    display:none;
    width:20%;
    height:auto;
    position:fixed;
    pointer-events: none;
  }

  @media screen and (max-width: 500px){
    .container.space{
      justify-content: space-evenly;
      flex-direction:column;
    }

    .container.stick{
      background-color:white;
      justify-content: space-evenly;
      flex-direction:column;
      position: -webkit-sticky;
      position:sticky;
      top:0;

    }

    .h1{
      font-weight:100;
      color: var(--blue2);
      font-family: 'Montserrat', sans-serif;
      font-size:40pt;
      text-align: center;
      padding: 5px 5px 5px 5px;
    }

    .h2{
      font-family: 'Montserrat', sans-serif;
      font-size: 14pt;
      text-align: center;
      font-weight:100;
      color: var(--blue1);
    }

    .h3{
      font-family: 'Montserrat', sans-serif;
      font-size: 60pt;
      text-align: center;
      font-weight:400;
      color: var(--blue1);
      padding: 5px 5px 5px 5px;
    }





  }
