:root{--blue1: rgb(50 120 200);
      --blue2: rgb(50 82 127);
      --pink1: rgb(206 34 109);
      --pink2: rgb(255 215 200);
  }

  .h1{
    font-weight:100;
    color: var(--blue2);
    font-family: 'Montserrat', sans-serif;
    font-size: 34pt;
    text-align: center;
    padding: 20px 20px 20px 20px;
  }


  .h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    text-align: center;
    font-weight:100;
    color: var(--blue1);
  }

  .h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    text-align: center;
    font-weight:400;
    color: var(--blue1);
    padding: 5px 5px 5px 5px;
  }

  .h1:link, .h2:link, .h3:link{
    color: var(--blue1);
    text-decoration:none;
  }

  .h1:visited, .h2:visited, .h3:visited{
    color: var(--blue1);
    text-decoration:none;
  }


  .h1:hover, .h2:hover, .h3:hover{
    color: var(--pink2);
    cursor:crosshair;
    text-decoration:none;

  }

  .h1:active, .h2:active, .h3:active{
    color: var(--pink1);
    text-decoration:none;
  }


  .container{
    display: flex;
  }

  .container.space{
    justify-content: space-evenly;
    flex-direction:row;
  }

  @media screen and (max-width: 2000px){
    .container.space{
      justify-content: space-evenly;
      flex-direction:column;
    }

    .h1{
      font-weight:100;
      color: var(--blue2);
      font-family: 'Montserrat', sans-serif;
      font-size:60pt;
      text-align: center;
      padding: 5px 5px 5px 5px;
    }


    .h2{
      font-family: 'Montserrat', sans-serif;
      font-size: 14pt;
      text-align: center;
      font-weight:100;
      color: var(--blue1);
    }

    .h3{
      font-family: 'Montserrat', sans-serif;
      font-size: 80pt;
      text-align: center;
      font-weight:400;
      color: var(--blue1);
      padding: 5px 5px 5px 5px;
    }

  }
